#
# PMIC device driver configuration
#

menu "MXC PMIC support"

config MXC_PMIC
	boolean

config MXC_PMIC_MC13892
	tristate "MC13892 PMIC"
	depends on ARCH_MXC && (I2C || SPI)
	select MXC_PMIC
	---help---
	  This is the MXC MC13892(PMIC) support. It include
	  ADC, Battery, Connectivity, Light, Power and RTC.

config MXC_PMIC_I2C
  	bool "Support PMIC I2C Interface"
	depends on MXC_PMIC_MC13892 && I2C

config MXC_PMIC_SPI
  	bool "Support PMIC SPI Interface"
	depends on (MXC_PMIC_MC13892 || MXC_PMIC_MC13783) && SPI

comment "MXC PMIC Client Drivers"
	depends on MXC_PMIC

source "drivers/mxc/pmic/mc13892/Kconfig"

endmenu
